---
---

/*
1x id
1x class
5x selectors
1x @media

1x scss variable
1x scss nesting
1x scss inheritance
*/

body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

main > .container {
	padding: 60px 15px 0;
}
